<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>基于Vue的markdown编辑器</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="http://oiukswkar.bkt.clouddn.com/markico.ico">
        <link rel="stylesheet" href="css/basic-ui.css">
        <link rel="stylesheet" href="css/custom-ui.css">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <div id="app">
            <div class="header">
                <a href="http://loadingmore/vue-markdown">
                    <h1>Markdown</h1>
                </a>
                <span>基于vue的在线预览工具</span>
                <div class="copy-btn"  data-clipboard-target="#bar" title="点击即可">复制md</div>
                <div class="copy-html"  data-clipboard-target="#cohtml" title="点击即可">复制HTML</div>
                <div class="clear-btn" @click="clearmd">清除md</div>

            </div>
            <div class="preview-content clearfix">
                <div class="prev-editor left" v-if="isShow">
                    <textarea spellcheck="false" class="prev-text" v-model="message" id="bar" @keydown.tab="tabSpace"></textarea>
                </div>
                <div class="prev-view right" v-html="reversedMessage" v-if="isPrevShow" id="cohtml">
                    {{reversedMessage}}
                </div>
                <div class="prev-btn" @click="isClick" v-if="isShow">预览</div>
                <div class="prev-editor-btn" @click="isEditor" v-if="isPrevShow">编辑</div>
            </div>
        </div>
        <script src="js/bundle.js"></script>
    </body>
</html>
